
.imgLogo{
    height: 96px;
    width: 222px;
}

header{
    display: flex;
    align-items: flex-end;
    gap: 5px;
}

.headerCabecalho{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;border-bottom: 3px solid  rgb(211 89 31);
}

.logoWhatts{
    height: 50px;
    width: 50px;
    border-radius: 50px;
   
  
}

.ulWtts{
 right: 15px;
  position: fixed;  
  margin: 5px;
}
 


.divProdutos{
    background-color: #e5e5e5;
}



.imgProdutos{
    height: 179px;
    width: 180px;
    border-radius: 5px;
}

.liProdutos{
    display: flex;
    background-color: #b1b1b180;
    width: 398px;
    height: 180px;
    border-radius: 5px;
    gap: 10px;
    border: 10px ;
    margin-top: 18px;
}


footer{
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin: 10px;
}

.aFoot{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ulEssencias{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.ulCervejas{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.ulDestilados{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.ulWhisky{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.ulRefrigerantes{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.ulOutros{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.ulCarvao{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.ulEnergeticos{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.h1Title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(211 89 31);
    width: 116px;
    height: 41px;
    border-radius: 5px;
}

.info{
    background-color: black;
    height: 270px;
    display: flex;
   
    justify-content: center;
    color: #ffffff;
}

.logoInstagram{
    border-radius: 50px;
    height: 59px;
    width: 59px;
}

.aWtts{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.simbLocali{
    border-radius: 50px;
    height: 59px;
    width: 59px;
}

main{
    display: flex;
    justify-content: space-around;
    width: 575px;
    height: 136px;
    margin: 10px;
}

.h2Title{
        display: flex;
        border-bottom: 2px solid black;
        align-items: center;
        margin: 20px;
        color:rgb(211 89 31) ;  
}

.ulNav{
    display: flex;
    justify-content: space-evenly;
    color: #ffffff;
   
}

.imgNav{
    width: 84px;
    height: 84px;
}

.liNav{
    list-style-type: none;
}

.aNav{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
    gap: 5px;
}

h4{
    margin: 8px;
}
aside{
    overflow-x: auto;
}
@media (max-width: 539px){
    html{
        width: 540px;
    }
    .headerCabecalho{
        width: 538px;
    }
     .info{
        width: 539px;
        height: 110px;
     }
     .imgProdutos {
        height: 159px;
        width: 184px;
     }
     .liProdutos{
        width: 184px;
        height: 350px;
        display: flex;
        flex-direction: column;
     }
     footer{
        gap: 20px;
     }
     aside{
        overflow-x: auto;
     }

     .ulNav{
        width: 900px;
     }
}